@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');




@layer base{
  
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.conway input[type=range]{
  -webkit-appearance: none;
}

.conway input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 8px;
  background: #343434;
  border: none;
}


.conway input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FFB100;
  margin-top: -4px;
}


.conway input[type=range]:focus::-webkit-slider-runnable-track {
  box-shadow: 0px 0px 10px #FFB100;
  background-color: #ffb3007f;
}


.sort input[type=range]{
  -webkit-appearance: none;
}

.sort input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 8px;
  background: #343434;
  border: none;
}


.sort input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #62929E;
  margin-top: -4px;
}


.sort input[type=range]:focus::-webkit-slider-runnable-track {
  box-shadow: 0px 0px 10px #54bbd5;
  background-color: #b1e2ee;
}





@keyframes bounce {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.bounce {
    animation: bounce 0.2s linear;
}

.flip {
    animation: flip 0.5s forwards;
}
  
@keyframes flip {
    0% { 
        transform: rotateX(0deg); 
    }
    100% { 
        transform: rotateX(180deg); 
    }
}